*{
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

header{
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 69px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
}

.logo{
    margin: auto 0 auto 10px;
    height: 50px;
}

.header-list{
    display: flex;
    list-style: none;
    margin: auto 30px auto 0;
}

.header-item{
    margin-left: 30px;
    align-items: center;
    font-size: 22px;
}

.mission{
    margin: auto;
    width: 1200px;
}

.mission-img{
    width: 1200px;
    height: 700px;
    margin-top: 69px;
}

.mission-content{
    width: 1200px;
    position: absolute;
    bottom: 15%;
    z-index: 1;
    padding: 5px;
    margin: auto;
}

h2{
    padding: 5px;
}

h4{
    padding: 5px;
}

.tea-of-month{
    padding: 50px 0;
    width: 1000px;
    margin: auto;
}

.tea-of-month-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.month-img{
    margin-top: 15px;
}

.monthly-img{
    height: 200px;
    width: 300px;
    margin: 10px;
}